:root {
  	--blue: #27A1CE;
	--darkblue: #117499;
	--black: #343131;
	--white: white;

}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
}

html{
	scroll-behavior: smooth;
}

body{

	align-items: center;
}

/*Navigation Bar CSS*/
nav{
	font-weight: 600;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar-light .navbar-nav .nav-link {
  color: var(--black);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--blue);
}
.navbar-light .navbar-nav .active>.nav-link{
	color: var(--blue);
}
@media(min-width: 992px){
	.navbar-expand-lg .navbar-collapse{
		width:100%;
	}
}
/*Navigation Bar CSS*/

/*Header CSS*/
.header-container{
	background-image: url(./images/global/headerImg.png);
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 70px
}


.text h1{
	color: var(--white);
	text-shadow: 2px 2px 10px var(--black);
	text-align: center;
}
/*Header CSS*/

/*Content CSS*/
.page-content{
	background: var(--white);
	width:100%;
	
}
h3 {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--blue);
	margin: 20px 0px 20px 150px;
}

h4 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--blue);
}

p{
	font-size: 1em;
	padding: 0 0 0 50px;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	float: left;
	width: 50%;
}

.left-column{
	padding-left: 70px;
}
.right-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.right-column img{
	width:60%;
	border-radius: 25px;
}

.right-column p{
	padding-top: 10px;
	font-size: 14px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.divider{
	background-color: var(--blue);
    padding: 50px 0px;
	margin: 50px 0;
}

.divider h3{
	color:var(--white);
	margin: 20px 0px 20px 150px;
}

.divider h4{
	color:var(--white);
	margin: 20px 0;
}

/* Annoucements */
.container{
	max-width:75%;
}
.annoucements {
    background-color: var(--white);
}
.annoucements .news-title {
    padding-top:30px;
    padding-bottom:30px;
    color: var(--blue);
	
}
.annoucements .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-bottom: 15px;
}
.annoucements .ct-blog {
    margin-bottom: 30px;
}
.ct-blog .inner {
    background-color: var(--blue);
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    height: 100%;
	border-radius: 10px
}
.ct-blog .inner:hover {
    background-color: var(--darkblue);
}
.ct-blog .fauxcrop {
    height: 180px;
    overflow: hidden;
	border-radius: 5px
}
.ct-blog .fauxcrop img {
    width: 100%;
}
.ct-blog-content {
    display: table;
    padding: 30px 0 28px;
	background-color: var(--white);
}
.ct-blog-content .ct-blog-date {
    border-right: 1px solid var(--blue);
    display: table-cell;
    font-family: "Lato", sans-serif;
    padding: 0px 18px 0px 15px;
    text-align: center;
}
.ct-blog-content .ct-blog-date span {
    font-size: 16px;
    color: var(--blue);
    font-weight: 700;
    display: block;
    line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
    font-size: 25px;
    color: var(--blue);
}
.ct-blog-content .ct-blog-header {
    color: var(--blue);
    display: table-cell;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 20px;
    vertical-align: top;
}
.btn-news {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}
.btn-news.btn-contests a {
    color: #5e75b1;
    font-size: 24px;
    transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
    color: var(--black);
}
/* Annoucements */

/* Upcoming Events */
.upcoming-events{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:25rem;
    min-width:18rem;
    margin: 22.5px;
    text-align: center;
}

.event-img{
	border-radius: 15px;
	width: 400px;
}

.event-content{
	padding-left: 40px;
}

.event-content:after {
	content: "";
	display: table;
	clear: both;
}

.event{
	float: left;
	width: 32%;
	padding-left: 10px;
}

.event img{
	border-radius: 15px;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

/*Content CSS*/



/*Footer CSS*/
footer{
	position: relative;
	width: 100%;
	height: auto;
	padding: 25px 0px 50px 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: var(--white);
}

footer .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

footer .container .sec{
	margin-right: 30px;
}

footer .container .sec.info{
	width: 40%;
}

footer .container h5{
	position: relative;
	color: var(--black);
	font-weight: 600;
	margin-bottom: 15px;
}

footer .container h5:before{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
}

footer .container h6{
	position: relative;
	color: var(--black);
	font-weight: 500;
	margin-bottom: 15px;
}

.sci{
	margin-top: 20px;
	display: flex;
	
}

.sci li{
	list-style: none;
}

.sci li a{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: var(--blue);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 50%;
}

.sci li a:hover{
	background: var(--white);
}

.sci li a .fa{
	color: var(--white);
	font-size: 20px;
}

.quickLinks{
	position: relative;
	width: 25%;
}

.quickLinks ul li{
	list-style: none;
}

.quickLinks ul li a{
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
	color: var(--blue);
}

.quickLinks ul li a:hover{
	color: var(--black);
}

.contact{
	width: calc(35% - 60px);
	margin-right: 0 !important;
}

.contact .info{
	position: relative;
}

.contact .info li{
	display: flex;
	margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
	color: var(--blue);
	font-size: 20px;
	margin-right: 10px;
}

.contact .info li span{
	color: var(--blue);
}

.contact .info li span a{
	color: var(--black);
	text-decoration: none;
}

.contact .info li span a:hover{
	color: var(--black);
}

.footer-logo{
	width: 200px;
}
@media (max-width: 991px){
	footer{
		padding: 40px;
	}
	footer .container{
		flex-direction: column;
	}

	footer .container .sec{
		margin-right: 0;
		margin-bottom: 40px;
	}

	footer .container .sec.info{
		width: 100%
	}

	.quickLinks{
		width: 100%;
	}

	.contact{ 
		width: 100%;
	}
}