:root {
  --blue: #27A1CE;
	--black: #151518;
	--white: white;
}
*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Nunito Sans', sans-serif;
}

/*Navigation Bar CSS*/
nav{
	font-weight: 600;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar-light .navbar-nav .nav-link {
  color: var(--black);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--blue);
}
.navbar-light .navbar-nav .active>.nav-link{
	color: var(--blue);
}
@media(min-width: 992px){
	.navbar-expand-lg .navbar-collapse{
		width:100%;
	}
}
/*Navigation Bar CSS*/

/*Header CSS*/
.header-container{
	background-image: url(./assets/headerImg.png);
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 70px
}


.text h1{
	color: var(--white);
	text-shadow: 2px 2px 10px var(--black);
	text-align: center;
}
/*Header CSS*/

/*Content CSS*/
.page-content{
	background: var(--white);
	width:100%;
	
}
h3 {
    font-size: 1.75rem;
    font-weight: 700;
	padding: 0 50px;
    color: var(--blue);
}
p{
	font-size: 20px;
	padding: 0 0 0 50px;
}
.row{
	margin-top: 50px;
	margin-right: 0;
}
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	float: left;
	width: 50%;
}

.left-column{
	padding-left: 70px;
}
.right-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.right-column img{
	width:60%;
	border-radius: 25px;
}

.right-column p{
	padding-top: 10px;
	font-size: 14px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.divider{
	background-color: var(--blue);
	padding: 50px 55px;
	margin: 50px 0;
}

.divider h3{
	color:var(--white);
	margin: 20px 0;
}

.post{
	background-color: var(--white);
	margin-left: 50px;
	padding: 25px 25px 9px 25px;
}

.post h4{
	color: var(--blue);
	font-weight: 700;
}

.post h6{
	color: var(--blue);
	font-weight: 600;
}

.post p{
	font-size: 16px;
	padding: 0;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

/*Content CSS*/


/*Footer CSS*/
footer{
	display: flex;
	flex-flow: row wrap;
	padding:50px;
	color: var(--blue);
	background-color: var(--white);
}

.footer > *{
	flex: 1 100%;
}

.footer-left{
	margin-right: 1.25 em;
	margin-bottom: 2em;
}

.footer-left img{
	
}

.footer h2{
	font-weight: 600;
	font-size: 17px;
	color: var(--black)
}

.footer ul{
	list-style: none;
	padding-left: 0;
}

.footer li{
	line-height: 2em;
}
.footer a{
	text-decoration: none;
}
.footer-right{
	display: flex;
	flex-flow: row wrap;
}

.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25 em;

}

.box a{
	color: var(--blue)
}