:root {
  --blue: #27A1CE;
	--black: #343131;
	--white: white;
}
*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Nunito Sans', sans-serif;
}

/*Navigation Bar CSS*/
nav{
	font-weight: 600;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	width:100%;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--black);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--blue);
}
.navbar-light .navbar-nav .active>.nav-link{
	color: var(--blue);
}
@media(min-width: 992px){
	.navbar-expand-lg .navbar-collapse{
		width:100%;
	}
}
/*Navigation Bar CSS*/

/*Header CSS*/
.header-container{
	background-image: url(./assets/headerImg.png);
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 70px
}

/* .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  background: none;
}
.btn{
	transition: all 1s;
} */

.text h1{
	color: var(--white);
	text-shadow: 2px 2px 10px var(--black);
	text-align: center;
}
/*Header CSS*/

/*Content CSS*/
.page-content{
	background: var(--white);
}

h3 {
    font-size: 1.75rem;
	font-weight: 700;
    color: var(--blue);
	padding: 0 50px;
}

h2{
	font-size: 1.75rem;
	color: var(--white);
	padding: 25px 50px;
	font-weight: 700;
}

p{
	font-size: 17px;
	padding: 0 50px;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: left;
	width: 50%;
}

.divider{
	height: 75px;
	background-color: var(--blue)
}

.whitespace{
	height: 50px;
	color: var(--white);
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

/*Content CSS*/