/*Header CSS*/
.header-container{
    background-image: url(/images/global/headerImg.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px
}
  
.text h1{
color: var(--white);
text-shadow: 2px 2px 10px var(--black);
text-align: center;
}
/*Header CSS*/

/*Content CSS*/
.page-content{
  background: var(--white);
  width:100%;
  
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 50%;
}

.left-column{
  padding-left: 70px;
}
.right-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-column img{
  width:60%;
  border-radius: 25px;
}

.right-column p{
  padding-top: 10px;
  font-size: 14px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Annoucements */
.annoucements {
  background-color: var(--white);
  margin-bottom: 30px;
}
.annoucements .news-title {
    padding-top: 50px;
    padding-bottom: 20px;
    color: var(--blue);
}
.annoucements .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}
.annoucements .ct-blog {
  margin-bottom: 30px;
}
.ct-blog .inner {
  background-color: var(--blue);
  padding: 10px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  height: 100%;
  border-radius: 10px
}

.ct-blog .inner a{
  text-decoration: none;
}

.ct-blog .inner:hover {
  background-color: var(--darkblue);
}
.ct-blog .fauxcrop {
  height: 180px;
  overflow: hidden;
  border-radius: 5px
}
.ct-blog .fauxcrop img {
  width: 100%;
}
.ct-blog-content {
  display: table;
  padding: 30px 0 28px;
  background-color: var(--white);
}
.ct-blog-content .ct-blog-date {
  border-right: 1px solid var(--blue);
  display: table-cell;
  font-family: "Lato", sans-serif;
  padding: 0px 18px 0px 15px;
  text-align: center;
}
.ct-blog-content .ct-blog-date span {
  font-size: 16px;
  color: var(--blue);
  font-weight: 700;
  display: block;
  line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
  font-size: 25px;
  color: var(--blue);
}
.ct-blog-content .ct-blog-header {
  color: var(--blue);
  display: table-cell;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.1;
  padding: 0 20px;
  vertical-align: top;
}
.btn-news {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}
.btn-news.btn-contests a {
  color: #5e75b1;
  font-size: 24px;
  transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
  color: var(--black);
}
/* Annoucements */

/* Upcoming Events */
.upcoming-events{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width:25rem;
  min-width:18rem;
  margin: 22.5px;
  text-align: center;
}

.event-img{
  border-radius: 15px;
  width: 400px;
  box-shadow: 3px 4px 2px var(--darkblue);
}

.event-content{
  padding-left: 40px;
}

.event-content:after {
  content: "";
  display: table;
  clear: both;
}

.event{
  float: left;
  width: 32%;
  padding-left: 10px;
}

.event img{
  border-radius: 15px;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      width: 100%;
  }
}

/*Content CSS*/


