.sponsors-top{
    padding-top: 120px;
    padding-bottom: 50px;
    background-color: var(--blue);
    
}

.sponsors-top h3{
    color: var(--white);
    margin: 0;
    text-align: center;
    font-weight: 800;
}

.sponsor-content{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.sponsor-content hr.solid-line{
    margin: 0% auto;
    border-top: 4px solid var(--blue);
    border-radius: 25px;
    width: 250px;
}

.sponsor-content h3{
    margin: 0;
    color: var(--black);
}