:root {
    --blue: #27A1CE;
  --darkblue: #117499;
  --black: #343131;
  --white: white;
  --bgblue: #e1f5fd;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  align-items: center;
}

/*Navigation Bar CSS*/
.nav-logo{
    width: 113px;
}
nav{
  font-weight: 600;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--black);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--blue);
}
.navbar-light .navbar-nav .active>.nav-link{
  color: var(--blue);
}
@media(min-width: 992px){
  .navbar-expand-lg .navbar-collapse{
      width:100%;
  }
}
/*Navigation Bar CSS*/

/* Headings */
hr.solid-line {
    margin: 0% auto;
    border-top: 3px solid var(--blue);
    width: 100px;
}

h3 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: 14%;
    color: var(--blue);
}

h4 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--blue);
}

p{
    font-size: 1em;
    padding: 0 0 0 50px;
}

.divider{
    background-color: var(--blue);
    padding: 50px 0px;
    margin: 10px 0;
}

.divider-img{
    width: 100%;
}

.divider h3{
    color:var(--white);
}

.divider h4{
    color:var(--white);
    margin: 20px 0;
}


/*Footer CSS*/
.container {
    max-width: 75%;
}

footer{
    position: relative;
    width: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--white);
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.info{
    width: 40%;
}

footer .container h5{
    position: relative;
    color: var(--black);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}

footer .container h5:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
}

footer .container h6{
    position: relative;
    color: var(--black);
    font-weight: 500;
    margin-bottom: 15px;
}

.fa-discord{
    text-decoration: none;
    font-size:20px;
}

.fa-discord:before, 
.fa-discord:after{
    color: white;
}

.sci{
    margin-top: 20px;
    display: flex;

}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 50%;
}

.sci li a:hover{
    background: var(--darkblue);
}

.sci li a .fa{
    color: var(--white);
    font-size: 20px;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: var(--blue);
}

.quickLinks ul li a:hover{
    color: var(--black);
}

.contact{
    width: calc(35% - 100px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: var(--blue);
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: var(--blue);
}

.contact .info li span a{
    color: var(--blue);
    text-decoration: none;
}

.contact .info li span a:hover{
    color: var(--black);
}

.footer-logo{
    width: 150px;
}


@media (max-width: 991px){
    footer{
        padding: 40px;
    }
    footer .container{
        flex-direction: column;
    }

    footer .container .sec{
        margin-right: 0;
        margin-bottom: 10px;
    }

    footer .container .sec.info{
        width: 100%
    }

    .quickLinks{
        width: 100%;
    }

    .contact{ 
        width: 100%;
    }
}